*~
*.o
*.exe
.idea/
forum/
judger/core/judge_client/.idea/
judger/core/judge_client/judge_client
judger/core/judged/.idea/
judger/core/judged/judged
judger/core/sim/.idea/
/web/.idea/
/web/bbs/
/web/JudgeOnline/
/web/OJ/upload/*
/index.html
/web/index.html
/OJ/index.html
/.vs
.DS_Store
